{% extends "base.html" %}

{% block content %}

<main class="main main--about">
    <p>
        Hola, yo soy Max y estoy en búsqueda de mi primer trabajo como desarrollador de software. 
        Basado en los requisitos de los puestos matriculé y finalicé la Ingeniería Informática, 
        a finales del año 2020; el siguiente paso según muchas opiniones en línea, 
        es crear un portafolio de soluciones desarrolladas con diferentes tecnologías. 
    </p>     
    <p> 
        Mi interés en realizar el cambio carrera a desarrollo de software, 
        se basa en mi amor por la tecnología y los retos que se encuentran al desarrollarla,
        me parece que entre más complicada es la búsqueda, más sencillo y elegante el resultado. 
    </p>     
    <p> 
        Mi experiencia en administración es un extra conveniente para cualquier campo. 
        Mi expectativa es trabajar utilizando la metodología de desarollo ágil, en un ambiente colaborativo y de investigación. 
</main>

{% endblock %}