{% extends "base.html" %}

{%  block content %}

<main class="main main--content">

    <dl>
        <div class="contact">
            <dt>Email: </dt>
            <dd class="contact__details">
                <a href="mailto:raemxam@gmail.com" class="contact__link">
                    raemxam [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub: </dt>
            <dd class="contact__details">
                <a href="https://github.com/maxmenaarguedas" class="contact__link">
                    @maxmenaarguedas
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn: </dt>
            <dd class="contact__details">
                <a href="https://www.linkedin.com/in/max-mena-cel88620400/" class="contact__link">
                    Max Mena
                </a>
            </dd>
        </div>
    </dl>

</main>

{% endblock %}